*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif; /*Putting fonts here temporarily*/
}

:root {
    /* Colors */
    --primary-orange: 26 100% 55%;
    --primary-pale-orange: 25 100% 94%;
    --primary-white: 0, 0%, 100%;
    --primary-black: 0, 0%, 0%;
    --secondary-very-dark-blue: 220 13% 13%;
    --secondary-dar-grayish-blue: 219 9% 45%;
    --secondary-grayish-blue: 220 14% 75%;
    --secondary-light-grayish-blue: 223 64% 98%;
}


/* maodal Styling and postion */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal::before{
    display:flex;
  }


  .modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    text-align: center;
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.carousel img {
  display: none;
  max-width: 100%;
  height: auto;
}

.carousel img:first-child {
  display: block;
}

.carousel-buttons {
  text-align: center;
  margin-top: 10px;
}

.carousel-buttons button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}