*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif; /*Putting fonts here temporarily*/
}

.logo{
    padding:40px;
}
nav{
     display:inline-block;
 text-align: left;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav li{
    display:inline-block;
    padding:0 20px;
}
     .account-cart{
        position: fixed;
        display:inline-block;
        left:1000px;
        top:40px;
     }
     .show-case{
        position: fixed;
            display: flex;
            padding: 10px;
            width:167px;
            height:167px;
            top:550px;
            left:300px;
        }
       .show-case img{
           padding: 20px;
           padding-left: 0px;
           border-radius: 23px;
       }
        .main-container{
            position: absolute;
            width:80%;
            left:220px;
             }
             
          #picture-1 {
            position: fixed;
            width:500px;
            height:430px;
             border-radius: 9px;
             left:300px;
             top:130px;
                      } 
            .button{
            display: flex;
            justify-content:start;
            align-items:center;
            padding-left: 700px;
             padding-top: 380px;
                        }
         .btn {
            width: 40px;
            height:42px;
            border-radius: 9px;
            margin: 5px;
            border:1px solid #FFFFFFFF;
            color: hsl(26, 100%, 55%);
                     }
             #add-to-cart{
             position: absolute;
             height: 43px;
            width: 260px;
             left: 820px;
              top: 490px;
            border-radius: 5px;
             background: hsl(26, 100%, 55%);
             border: 1px solid #FFFFFF;
             color:#FFFFFF; 
                 }
      /* labels*/   #sneaker-company{
        position: absolute;
        left:700px;
        top:200px;
        font-size: 14px;
       color: hsl(26, 100%, 55%);
      font-weight: 600;
    }
    #limited{
        position: absolute;
        left:700px;
        top:230px;
        color:black;
        font-weight: 700;
        initial-letter: 0.2em;
        width:420px
    }
    #description{
        position: absolute;
        left:700px;
        top:340px;
        letter-spacing: 0.05;
        width:420px;
        }
    #main-price{
         position: absolute;
        left:700px;
        top:430px;
        font-weight: 700;
        font-size:19px;
    }
    #discount{
        height: 25px;
        width: 40px;
        left: 80px;
        border: 1px solid #FFFFFF;
        color:hsl(26,100%,55%);
        border-radius: 9px;
        background-color:hsl(25,100%,94%);
        
        }
       #discount-price{
        position: absolute;
        left:700px;
        top:460px;
        font-weight: 300;
        font-size:16px;
       }
        